.formulario_controle {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formulario_controle label{
    margin-bottom: .6em;
    font-weight: bold;
}

.formulario_controle input{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.formulario_controle::placeholder {
    color: black;
}