.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #194E99 ;
    font-weight: bold;
}

.home_container h1 span{
    color: #FFF;
    padding: 0.2em;
    background-color: #194E99;
    
}

.home_container h2 {
    margin-bottom: 1.5em;
    color: #194E99;
    font-weight: bold;
    
}

.home_container img {
    width: 350px;
    height: 500px;

}
